attrs==20.3.0
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
developer-tools==1.0.8
greenlet==1.1.2
idna==2.10
iniconfig==1.1.1
isodate==0.6.1
Jinja2==2.11.2
lxml==4.7.1
MarkupSafe==1.1.1
numpy==1.22.3
packaging==20.8
pandas==1.4.2
platformdirs==2.4.1
playwright==1.21.0
pluggy==0.13.1
py==1.10.0
pydig==0.3.0
pyee==8.1.0
pyparsing==2.4.7
pytest==6.2.2
pytest-base-url==1.4.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-playwright==0.3.0
pytest-repeat==0.9.1
python-dateutil==2.8.1
python-hosts==1.0.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.15.0
slugify==0.0.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.25.11
websockets==10.1
win-inet-pton==1.1.0
zeep==4.1.0
